<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5> Add Skill</h5>
                </div>
                <div class="card-body tab2-card" *ngIf="showScreen">
                    <ngb-tabset class="tab-coupon">
                        <ngb-tab title="Account">
                            <ng-template ngbTabContent>                                                                                                                                        <div class="tab-pane fade active show" id="account" role="tabpanel"
                                        aria-labelledby="account-tab">
                                    <form [formGroup]="skillsForm" class="needs-validation user-add">
                                        <h4>Create Skill</h4>
                                        <div class="form-group row">
                                            <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span>
                                                Name</label>
                                            <input class="form-control col-xl-8 col-md-7" id="validationCustom0"
                                                type="text" formControlName="name">
                                                <div class="col-xl-3"></div>
                                                <control-messages class="validation-messages col-xl-8 col-md-7" [control]="skillsForm.controls.name">
                                                </control-messages>
                                        </div>
                                        <div class="form-group row">
                                            <label for="validationCustom1" class="col-xl-3 col-md-4"><span>*</span> Last
                                                Description</label>
                                            <input class="form-control col-xl-8 col-md-7" id="validationCustom1"
                                                type="text" formControlName="description">
                                                <div class="col-xl-3"></div>
                                                <control-messages class="validation-messages col-xl-8 col-md-7" [control]="skillsForm.controls.description">
                                                </control-messages>
                                        </div>
                                    </form>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                    <div class="pull-right" style="margin-right: 112px;">
                        <button type="submit" (click)="onSkillsFormSubmit()" [disabled]="skillsForm.invalid" class="btn btn-primary">Save </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->