<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-md-6 xl-50">
            <div class="card order-graph sales-carousel">
                <div class="card-header">
                    <div class="row">
                        <div class="col-7">
                            <h6>Employee skills percentage</h6>
                        </div>
                        <div class="col-5">
                            <select class="form-control font-d" (change)="selectEmployee($event.target.value)">
                                <option *ngFor="let emp of employees" [value]="emp.id">{{emp.first_name }} {{ emp.last_name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin: 20px;">
                        <div class="col-12" *ngIf="showView">
                            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                                [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                            </canvas>
                        </div>
                        <div class="col-12" *ngIf="!showView">
                            No data found.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->